<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="static/css/error.css">
    
</head>
<body>
    <div class="error-container">
        <i class="icon fas fa-exclamation-triangle"></i>
        <h1>Oops! Algo deu errado.</h1>
        <p>{{ error }}</p>
        <div class="options">
            <a href="/">Voltar para a Página Inicial</a>
        </div>
    </div>
</body>
</html>
