<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="static/css/report.css">  
</head>
<body>
    <h1>Curva ABC</h1>
    <table>
        <tr>
            <th>Código Principal</th>
            <th>Descrição Detalhada</th>
            <th>Quantidade Vendida</th>
            <th>Rankeamento ABC</th>
            <th>Quantidade em Estoque</th>
        </tr>
        {% for item in result_abc %}
        <tr>
            <td>{{ item['cdprincipal'] }}</td>
            <td>{{ item['dsdetalhe'] }}</td>
            <td>{{ item['qtvenda'] }}</td>
            <td>{{ item['abcrank'] }}</td>
            <td data-color="{{ 'green' if item['qtvenda'] < item['qtestoque'] else 'red' }}">
                {{ item['qtestoque'] }}
                {% if item['qtvenda'] < item['qtestoque'] %}
                    <i class="low-stock-icon fas fa-exclamation-circle"></i>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <button id="sendDataButton">Enviar Dados Selecionados</button>

    <script src="static/js/report_js_logic.js"></script>
</body>
</html>
